/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/* 			      https://github.com/gilbN/theme.park			 */
/* ((http(s?)):\/\/)?(?!.*(userstyles\.org|sonarr\.tv|google\.com|reddit\.com|github\.com|google\.pt))+[-A-Za-z0-9+&@#/%?=~_|!:,.;]+(8989|sonarr)+(.*) */

@import url("https://theme-park.dev/css/base/sonarr/sonarr-base.css");

/* SONARR AQUAMARINE THEME */
:root {
  --main-bg-color:  radial-gradient( ellipse at center,  rgba(87,108,117,1) 0%, #253237 100.2% ) center center/cover no-repeat fixed;
  --modal-bg-color: radial-gradient( ellipse at top,  rgba(87,108,117,1) 0%, rgba(37,50,55,1) 100.2% ) center center/cover no-repeat fixed;


  --drop-down-menu-bg: #253237;

  --button-color: #009688;
  --button-color-hover: #12afa0;
  --button-text: #eee;
  --button-text-hover: #FFF;

  --accent-color:  18, 175, 160;
  --accent-color-hover: rgb(var(--accent-color),.8);
  --link-color: #0ed2bf;
  --link-color-hover: #36e7d6;
  --label-text-color: #fff;

  --text:#ddd;
  --text-hover: #fff;
  --text-muted: #8dcfc9;


  --arr-queue-color: #009688; /* Servarr apps + Bazarr */
  --plex-poster-unwatched: rgb(21, 213, 194);
  --petio-spinner: invert(39%) sepia(98%) saturate(527%) hue-rotate(129deg) brightness(94%) contrast(101%); /* Made with https://codepen.io/jsm91/embed/ZEEawyZ */
  --gitea-color-primary-dark-4: 18, 175, 160;
  --overseerr-gradient: radial-gradient(ellipse at center, rgb(71, 145, 138, .9) 0%, rgb(11, 49, 97, .9) 100%) center center/cover no-repeat fixed;
}

